<div class="am-form-group" id="ipu-otitle">
    <label for="ipotitle" class="am-u-sm-2 am-form-label">{$info.otitle}</label>
    <div class="am-u-sm-10">
        <input type="text" id="ipotitle" placeholder="作为充值和查询的重要依据，仔细确认填写" class="am-form-field am-round" value=""  >
    </div>
</div>

{eq name="$info['tcheck']" value="1"}

<div class="am-form-group" id="ipu-tcheck">
    <label for="ipttitle" class="am-u-sm-2 am-form-label">{$info.ttitle}</label>
    <div class="am-u-sm-10">
        <input type="text" id="ipttitle" class="am-form-field am-round" value=""  >
    </div>
</div>
{/eq}

{eq name="$info['scheck']" value="1"}

<div class="am-form-group" id="ipu-scheck">
    <label for="ipstitle" class="am-u-sm-2 am-form-label">{$info.stitle}</label>
    <div class="am-u-sm-10">
        <input type="text" id="ipstitle" class="am-form-field am-round" value=""  >
    </div>
</div>
{/eq}