
</div>
</body>

</html>
<script src="{$Think.STATIC_PATH}/assets/js/jquery.min.js"></script>
<script src="{$Think.STATIC_PATH}/assets/js/amazeui.min.js"></script>
<script src="{$Think.STATIC_PATH}/assets/js/app.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
<script src="{$Think.STATIC_PATH}/layer/layer.js"></script>
<script src="{$Think.STATIC_PATH}/js/admin/index.js"></script>