<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{:config('sysconf.name')} &nbsp; {:config('sysconf.houzui')}</title>
    <meta name="description" content="{:config('sysconf.description')}">
    <meta name="keywords" content="{:config('sysconf.keywords')}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="{$Think.STATIC_PATH}/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="{$Think.STATIC_PATH}/assets/css/admin.css">
    <link rel="stylesheet" href="{$Think.STATIC_PATH}/assets/css/app.css">
</head>


