{extend name="conmm/main" /}

{block name="main"}

<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        新建商品分类
    </div>
    <ol class="am-breadcrumb">
        <li><a href="" class="am-icon-cogs">新建商品分类</a></li>


    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 新建商品分类
            </div>



        </div>
        <div class="tpl-block ">

            <div class="am-g tpl-amazeui-form">


                <div class="am-u-sm-12 am-u-md-9">
                    <form class="am-form am-form-horizontal" method="post" action="{:url('admin/Yclass/create')}">
                        <div class="am-form-group">
                            <label for="name" class="am-u-sm-3 am-form-label">分类名字</label>
                            <div class="am-u-sm-9">
                                <input type="text" value="" name="name" id="name" placeholder="如 Q钻类">

                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="type" class="am-u-sm-3 am-form-label">类型</label>
                            <div class="am-u-sm-9">
                                <select name="type" id="type">
                                    <option value="1">手工处理</option>
                                    <option value="2">自动发卡</option>
                                </select>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="ord" class="am-u-sm-3 am-form-label">排序</label>
                            <div class="am-u-sm-9">
                                <input type="text" value="" name="ord" id="ord" placeholder="如100  结果越大 排序越靠前">
                            </div>
                        </div>



                        <div class="am-form-group">

                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="submit" class="am-btn am-btn-primary">保存</button>
                                <a href="javascript:history.go(-1);" class="am-btn am-btn-danger">返回</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>










</div>

{/block}