{extend name="conmm/main" /}

{block name="main"}

<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        编辑手工充值商品
    </div>
    <ol class="am-breadcrumb">
        <li><a href="" class="am-icon-cogs">编辑商品</a></li>


    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 编辑商品
            </div>



        </div>
        <div class="tpl-block ">

            <div class="am-g tpl-amazeui-form">


                <div class="am-u-sm-12 am-u-md-9">
                    <form class="am-form am-form-horizontal" method="post" action="{:url('admin/Goods/edit')}">
                        <div class="am-form-group">
                            <label for="name" class="am-u-sm-3 am-form-label">商品名称</label>
                            <div class="am-u-sm-9">
                                <input type="text" value="{$info.name}" name="name" id="name" placeholder="商品名称" required>
                                <input type="hidden" value="1" name="type" >
                                <input type="hidden" value="{$info.id}" name="id" >
                            </div>
                        </div>


                        <div class="am-form-group">
                            <label for="cid" class="am-u-sm-3 am-form-label">商品分类</label>
                            <div class="am-u-sm-9">
                                <select name="cid" id="cid">
                                    {foreach name="list" item="v"}
                                    <option {eq name="$info.cid" value="$v.id" }selected{/eq} value="{$v.id}">{$v.name}</option>
                                    {/foreach}
                                </select>

                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="money" class="am-u-sm-3 am-form-label">商品单价</label>
                            <div class="am-u-sm-9">
                                <input type="text" value="{$info.money}" name="money" id="money" placeholder="输商品价格" required>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="otitle" class="am-u-sm-3 am-form-label">第一个输入框标题</label>
                            <div class="am-u-sm-9">
                                <input type="text" value="{$info.otitle}" name="otitle"  id="otitle" placeholder="如 QQ号">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="tcheck" class="am-u-sm-3 am-form-label">是否需要第二个输入框</label>
                            <div class="am-u-sm-9">
                                否<input type="radio" value="0" name="tcheck" {eq name="$info.tcheck" value="0" }checked{/eq} >
                                是<input type="radio" value="1" name="tcheck" {eq name="$info.tcheck" value="1" }checked{/eq} >
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="ttitle" class="am-u-sm-3 am-form-label">第二个输入框标题</label>
                            <div class="am-u-sm-9">
                                <input type="text" value="{$info.ttitle}" name="ttitle" id="ttitle" placeholder="第二个输入框标题，如密码">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="scheck" class="am-u-sm-3 am-form-label">是否需要第三个输入框</label>
                            <div class="am-u-sm-9">
                                否<input type="radio" value="0" name="scheck" {eq name="$info.scheck" value="0" }checked{/eq} >
                                是<input type="radio" value="1" name="scheck" {eq name="$info.scheck" value="1" }checked{/eq} >
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="stitle" class="am-u-sm-3 am-form-label">第三个输入框标题</label>
                            <div class="am-u-sm-9">
                                <input type="text" value="{$info.stitle}" name="stitle" id="stitle" placeholder="如 确认密码">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="status" class="am-u-sm-3 am-form-label">状态</label>
                            <div class="am-u-sm-9">
                                上架<input type="radio" value="1" name="status" {eq name="$info.status" value="1" }checked{/eq} >
                                下架<input type="radio" value="2" name="status" {eq name="$info.status" value="2" }checked{/eq} >
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="ord" class="am-u-sm-3 am-form-label">排序</label>
                            <div class="am-u-sm-9">
                                <input type="text" value="{$info.ord}" name="ord" id="ord" placeholder="整数  输入值越大 排名越靠前">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="submit" class="am-btn am-btn-primary">保存</button>
                                <a href="javascript:history.go(-1);" class="am-btn am-btn-warning">返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>










</div>

{/block}