{extend name="conmm/main" /}

{block name="main"}

<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        订单管理
    </div>
    <ol class="am-breadcrumb">
        <li><a href="" class="am-icon-home">订单管理</a></li>

    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 订单列表
            </div>
            <div class="tpl-portlet-input tpl-fz-ml">

            </div>


        </div>
        <div class="tpl-block">
            <div class="am-g">


                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <button onclick="okisnotip('{:url(\'admin/Order/ordercek\')}','确定要处理这些订单吗？',2)" type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-pencil"></span> 开始处理</button>
                            <button onclick="okisnotip('{:url(\'admin/Order/ordercek\')}','确定要处理这些订单吗？',3)" type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-check"></span> 处理成功</button>
                            <button onclick="okisnotip('{:url(\'admin/Order/ordercek\')}','确定要处理这些订单吗？',4)" type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-close"></span> 处理失败</button>
                        </div>
                    </div>
                </div>
                <form method="get" action="{:url('admin/Order/index')}">
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-form-group">
                        <select name="status" data-am-selected="{btnSize: 'sm'}">
                            <option value="all">所有类别</option>
                            <option {eq name="status" value="1" }selected{/eq} value="1">等待处理</option>
                            <option {eq name="status" value="2" }selected{/eq} value="2">已处理</option>
                            <option {eq name="status" value="3" }selected{/eq} value="3">已完成</option>
                            <option {eq name="status" value="4" }selected{/eq}value="4">处理失败</option>
                        </select>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" name="account" value="{$account}" placeholder="充值账号搜索" class="am-form-field">
                        <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="submit"></button>
          </span>
                    </div>
                </div>
                </form>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12">

                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-check"><input id="checkAll" type="checkbox" class="tpl-table-fz-check"></th>
                                <th class="table-id">订单id</th>
                                <th class="table-title">订单名称</th>
                                <th class="table-title">商品id</th>
                                <th class="table-title">订单类型</th>
                                <th class="table-type">充值数量</th>
                                <th class="table-author">商品单价</th>
                                <th class="table-author">订单总价</th>
                                <th class="table-author">充值账号</th>
                                <th class="table-author">商户订单号</th>
                                <th class="table-author">支付方式</th>
                                <th class="table-author">状态</th>
                                <th class="table-date am-hide-sm-only">下单时间</th>
                                <th class="table-set">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                {foreach name="list" item="v"}
                                <td><input type="checkbox" name="checkname" value="{$v.id}"></td>
                                <td>{$v.id}</td>
                                <td>{$v.oname}</td>
                                <td>{$v.gid}</td>
                                <td>
                                    {if condition="$v['type'] eq  1"}
                                    <span class="am-badge am-badge-primary am-radius">手工充值</span>
                                    {else /}
                                    <span class="am-badge am-badge-success am-radius">自动发卡</span>
                                    {/if}
                                </td>
                                <td class="am-hide-sm-only">x{$v.number}</td>
                                <td class="am-hide-sm-only">{$v.money}</td>
                                <td class="am-hide-sm-only">{$v.cmoney}</td>
                                <td class="am-hide-sm-only">{$v.account}</td>
                                <td class="am-hide-sm-only">{$v.payid}</td>
                                <td>

                                    {switch name="v.paytype" }
                                    {case value="alipay" }
                                    <span class="am-badge am-badge-warning am-radius">支付宝</span>
                                    {/case}
                                    {case value="qqpay"}
                                    <span class="am-badge am-badge-primary am-radius">QQ钱包</span>
                                    {/case}
                                    {case value="wxpay"}
                                    <span class="am-badge am-badge-success am-radius">微信</span>
                                    {/case}
                                    {case value="tenpay"}
                                    <span class="am-badge am-badge-danger am-radius">财付通</span>
                                    {/case}
                                    {/switch}
                                </td>
                                <td>

                                    {switch name="v.status" }
                                    {case value="1" }
                                    <span class="am-badge am-badge-warning am-radius">待处理</span>
                                    {/case}
                                    {case value="2"}
                                    <span class="am-badge am-badge-primary am-radius">开始处理</span>
                                    {/case}
                                    {case value="3"}
                                    <span class="am-badge am-badge-success am-radius">已完成</span>
                                    {/case}
                                    {case value="4"}
                                    <span class="am-badge am-badge-danger am-radius">处理失败</span>
                                    {/case}
                                    {/switch}
                                </td>
                                <td class="am-hide-sm-only">{$v.ctime|date='Y-m-d H:i:s',###}</td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button onclick="orderInfo('{$v.id}','{:url(\'admin/Order/info\')}')" class="am-btn am-btn-default "><span class="am-icon-eye"></span>订单详情</button>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                                {/foreach}
                            </tbody>
                        </table>
                        <div class="am-cf">

                            <div class="am-fr">
                                {$page}
                            </div>
                        </div>
                        <hr>


                </div>

            </div>
        </div>
        <div class="tpl-alert"></div>
    </div>










</div>
{/block}