{include file='conmm/head' /}

<div class="am-g myapp-login">
    <div class="myapp-login-logo-block  tpl-login-max">
        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                {:config('sysconf.name')}<span> 管理员登录</span> <i class="am-icon-skyatlas"></i>

            </div>
        </div>

        <div class="login-font">
            <i>Log In </i>
        </div>
        <div class="am-u-sm-10 login-am-center">
            <form class="am-form" method="post" action="{:url('admin/Login/doLogin')}">
                <fieldset>
                    <div class="am-form-group">
                        <input type="text" class="" name="uname" id="uname" placeholder="请输入账号" required>
                    </div>
                    <div class="am-form-group">
                        <input type="password" class="" name="passwd" id="passwd" placeholder="请输入密码" required>
                    </div>
                    <p><button type="submit" class="am-btn am-btn-default">登录</button></p>
                </fieldset>
            </form>
        </div>
    </div>
</div>


{include file='conmm/foot' /}

<script src="{$Think.STATIC_PATH}/js/admin/index.js"></script>
